<style>
    .heading {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }

    .subheading {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }

    .section {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<section id="controls" class="flex-container-vertical">
    <!-- Use this section as an example for the other sections -->
    <section id="actions" class="section">
        <span class="heading">Actions</span>
        <div id="actionCtrls" class="flex-container-horizontal flex-item flex-wrap">
            <!-- drill down button-->
            <SpotfireControl id="3fe5e1fc5b1a4802a081f5bd50e76f24" />
            <!-- view details button -->
            <SpotfireControl id="142606dd250a442f9ea7198391603612" />
            <!-- start over button -->
            <SpotfireControl id="a6b8b61b733b4792822e372c0aa7ec72" />
        </div>
    </section>
    <section id="xAxis" class="section">
        <span class="heading">Categorize By</span>
        <div class="subheading">Leadership</div>
        <div id="leadershipCtrls" class="flex-container-horizontal flex-item flex-wrap">
            <!--EVP button-->
            <SpotfireControl id="46da7c6745254136a4417109f65bf35a" />
            <!--SVP button-->
            <SpotfireControl id="7effac1572184bc9a9990d23fb3d456d" />
            <!--CCO button-->
            <SpotfireControl id="3352b6bc02094c25a9877d1bff11ccac" />
            <!--CM button -->
            <SpotfireControl id="2e1791e09ebc46f5aff0667bffc42af5" />
        </div>
        <div class="subheading">Hierarchy</div>
        <div id="hierarchyCtrls" class="flex-container-horizontal flex-item flex-wrap">
            <!--Division button-->
            <SpotfireControl id="917f5218f08749489c1106b5e6d04e5d" />
            <!--Department button-->
            <SpotfireControl id="699f8030fccc44459ffda7ce1f2a88d2" />
            <!--Cost Center button-->
            <SpotfireControl id="147869eb8e5b476385ec3283f3b8af56" />
        </div>
        <div class="subheading">Other</div>
        <div id="otherCtrls" class="flex-container-horizontal flex-item flex-wrap">
            <!--Expense Type button-->
            <SpotfireControl id="bb97bf7dd5c248a7a82a59ce3535355f" />
            <!--Expense Detail button-->
            <SpotfireControl id="46c45c728b404e15b3ec79325dc51f42" />
            <!--Payment Type button-->
            <SpotfireControl id="6ab683e8e59f4a458f1ec83af76ab347" />
        </div>
    </section>
    <section id="yAxis" class="section">
        <span class="heading">Normalize By</span>
        <div class="subheading">Unique Count</div>
        <div id="uniquecountCtrls" class="flex-container-horizontal flex-item flex-wrap">
            <!-- Cost Centers -->
            <SpotfireControl id="c68824791579425e97a9a4bce031ba95" />
            <!-- Reports -->
            <SpotfireControl id="1674aa94cb3a414999d8a143899d788a" />
            <!-- Line Items -->
            <SpotfireControl id="d18473b1889d4e90bccdfa2710081ca6" />
            <!-- Crewmembers -->
            <SpotfireControl id="0eac3690ae9a46c4a0671fa9df041608" />

        </div>
        <div id="resetCtrl" class="flex-container-horizontal flex-item" style="margin-top: 2.5px; margin-bottom: 2.5px;margin-left: 2px;">
            <SpotfireControl id="a769cf48c1f549a6868e8f4740d21213" />
        </div>
    </section>
    <section id="filters" class="section">
        <span class="heading">Fliter by</span>
        <div class="subheading">Submitted Date (Month)</div>
        <!-- month slider -->
        <SpotfireControl id="6347f3e5c7534a759a1038fe0a99fbe2" />
        <div class="subheading">Submitted Date (Year)</div>
        <!-- year picker -->
        <SpotfireControl id="08eff313b2fd423da752152d93f88ce8" />
        <div class="subheading">Other</div>
        <div id="filterCtrls" class="flex-container-horizontal flex-item">
            <!-- show filters -->
            <SpotfireControl id="b63e1664373c43499b108ebee733b35c" />
            <!-- hide filters -->
            <SpotfireControl id="077edf8e94f049419de0bde5c0051115" />
        </div>
        <div id="filterReset" class="flex-container-horizontal flex-item" style="margin-top: 2.5px; margin-bottom: 2.5px;margin-left: 2px;">
            <!-- reset filters -->
            <SpotfireControl id="777e33af8eb24803b5eb4ab62eb42d55" />
        </div>
    </section>
    <section id="limit" class="section">
        <span class="heading">Limit By</span>
        <div class="subheading">Number of Columns to Show</div>
        <div id="limitCtrls" class="flex-container-horizontal flex-item flex-wrap">
            <!--Top 5-->
            <SpotfireControl id="0e0a6797e49d45d68395d27576ffebd9" />
            <!--Top 10-->
            <SpotfireControl id="5a006929a7544b568829a76427e448cb" />
            <!-- Custom Amount -->
            <SpotfireControl id="8908405aeb2c4afd8fc8e161fb1e4ae2" />

        </div>
    </section>
</section>
</section>